#package.xml file is recreated on the fly by Copado, no need to track unnecessary changes of this file
package.xml

#if you are not going to customize a managed package, you can keep your repository clean by ignoring 
#all files for that package.
#if you will be customizing managed packages, make sure that the same version of the package 
#is installed on all your environments, so that deployments will only update existing 
#managed components. Creation of managed components is not permitted by the API.
# below is an example on how to ignore all components of the "copado" managed package.
#*copado__*
pages/ccrz__*
pages/copado__*
pages/al__*
pages/sf_chttr_apps__*
pages/SFGA__*
pages/indicee_apps__*
pages/sf_com_apps__*
pages/FieloEE__*
pages/MCCA5PROD__*
pages/et4ae5__*
pages/sfadminapps__*
pages/VCP__*
pages/E2FCO__*
pages/icAgentConsole__*
pages/SVMXC__*

classes/ccrz__*
classes/copado__*
classes/al__*
classes/sf_chttr_apps__*
classes/SFGA__*
classes/indicee_apps__*
classes/sf_com_apps__*
classes/FieloEE__*
classes/MCCA5PROD__*
classes/et4ae5__*
classes/sfadminapps__*
classes/VCP__*
classes/E2FCO__*
classes/icAgentConsole__*
classes/SVMXC__*


triggers/ccrz__*
triggers/copado__*
triggers/al__*
triggers/sf_chttr_apps__*
triggers/SFGA__*
triggers/indicee_apps__*
triggers/sf_com_apps__*
triggers/FieloEE__*
triggers/MCCA5PROD__*
triggers/et4ae5__*
triggers/sfadminapps__*
triggers/VCP__*
triggers/E2FCO__*
triggers/icAgentConsole__*
triggers/SVMXC__*

components/ccrz__*
components/copado__*
components/al__*
components/sf_chttr_apps__*
components/SFGA__*
components/indicee_apps__*
components/sf_com_apps__*
components/FieloEE__*
components/MCCA5PROD__*
components/et4ae5__*
components/sfadminapps__*
components/VCP__*
components/E2FCO__*
components/icAgentConsole__*
components/SVMXC__*


staticresources/ccrz__*
staticresources/copado__*
staticresources/al__*
staticresources/sf_chttr_apps__*
staticresources/SFGA__*
staticresources/indicee_apps__*
staticresources/sf_com_apps__*
staticresources/FieloEE__*
staticresources/MCCA5PROD__*
staticresources/et4ae5__*
staticresources/sfadminapps__*
staticresources/VCP__*
staticresources/E2FCO__*
staticresources/icAgentConsole__*
staticresources/SVMXC__*


installedPackages/*
cleanDataServices/*

#profiles and permission sets are complex Files. If your Org's metadata and Git are in sync, 
#you can track incremental changes on Profiles and Permission sets using Copado "commit files" functionality.
#Otherwise ignore profiles and permission sets until you are ready for it. 
#You can deploy profiles and permission sets using Copado Deployer steps: Full profiles and Full Permission sets.
# Below is how to ignore them
#profiles/*
#permissionsets/*

#Flow definitions are ready only for the Api, they get created automatically, therefore no need to track them.
flowDefinitions/*

#Translations are complex since get updated indirectly across multiple files, they can make a deployment fail
#if a field is translated in source and it doesn't exist on destination. 
#If you are committing incrementally new fields and new Translations you can track them in Git, just be careful. 
#If you choose  to ignore them in Git, you can always deployment with Copado Deployer "Translation" Step. 
#translations/*
#objectTranslations/*


#Sites which has Domain mapping has environment specific information. 
#Make sure you setup Copado Environment Variables to make sites config files environment agnostic.
#Until the above is achieved, you can ignore them as follows
sites/*
siteDotComSites/*
